.carousell__arrow__left{
  float: right;
  padding: 40px 15px 40px 15px;
  font-size: 33px;
  color: #314440;
  cursor: pointer;
}
.carousell__arrow__right{
  float: left;
  padding: 40px 15px 40px 15px;
  color: #314440;
  font-size: 33px;
  cursor: pointer;
}
