.general__container{
  display: grid;
  grid-gap: 3px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6,auto);
  grid-template-areas:
      "n n n n n n n n n n n n"
      "l l l l l l l l l l l l"
      "m m m m m m m m m m m m"
      "m m m m m m m m m m m m"
      "m m m m m m m m m m m m"
      "f f f f f f f f f f f f";
}
.sticky__navbar__contanier{
  grid-area: n;
  width: 100%;
  z-index:3000;
  position: fixed;
}


.logo__top__container{
  grid-area: l;
  text-align: center;
  display:inline-block;

}

.main__container{
  padding-top: 40px;
  background-color: white;
  grid-area: m;
}

.footer__container{
  background-color: black;
  display: inline-block;
  grid-area: f;
  margin-top: 30px;
  padding-top: 20px;
  max-height : 800px;
  min-height: 150px;

}
.logo__top__img{
  cursor:pointer;

  width: 280px;
}
.volver__arriba__container{
  display: inline-block;
  position:fixed;
  padding-left: 3px;
  font-size: 26px;
  font-weight: lighter;
  bottom: 5px;
  right:5px;
  color: white;
  background-color: rgba(0, 0, 0, 0.58);
  cursor: pointer;
  animation-duration: .5s;
  animation-timing-function: ease-in-out;
}
@keyframes fadeInVolver {
  from {opacity: 0;}
  to {opacity:1;}
}


/* animation for the presentation */
.bell__container {
  position: absolute;
  height:136px;
  width: 122px;
  left: 150px;
  top: 90px;
  transform: rotate(4deg);
  animation-name: rotate-container;
  animation-delay: 2.33s;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transform-origin: 50% 0%;
  animation-timing-function: ease-in-out;
  z-index: 100;
}
.bellImg {
  height: 100%;
  width: 100%;
  transform: rotate(-4deg);
  animation-name: rotate;
  animation-delay: 3s;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transform-origin: 50% 0%;
  animation-timing-function: ease-in-out;
}
@keyframes rotate {
  0% {
    transform: rotate(-4deg);
  }
  100% {
    transform: rotate(4deg);
  }
}
@keyframes rotate-container {
  0% {
    transform: rotate(4deg);
  }
  100% {
    transform: rotate(-4deg);
  }
}
